FollowMeRemoteControl/Service References/FollowMeService/FollowMe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FollowMe.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FollowMe.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FollowMe.Enums" />
  <xs:complexType name="PersonAndDangerLocation">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FollowMe.Enums" minOccurs="0" name="DangerLocation" type="q1:TargetLocation" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FollowMe.Enums" minOccurs="0" name="PersonLocation" type="q2:TargetLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonAndDangerLocation" nillable="true" type="tns:PersonAndDangerLocation" />
</xs:schema>