FollowMeRemoteControl/Service References/FollowMeService/FollowMe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FollowMe.Enums" />
  <xs:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FollowMe.WebService" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FollowMe.Enums" minOccurs="0" name="GetPersonLocationResult" type="q1:TargetLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDangerLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDangerLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FollowMe.Enums" minOccurs="0" name="GetDangerLocationResult" type="q2:TargetLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAndDangerLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAndDangerLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FollowMe.WebService" minOccurs="0" name="GetPersonAndDangerLocationResult" nillable="true" type="q3:PersonAndDangerLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>