FollowMeRemoteControl/Service References/FollowMeService/RemoteControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FollowMe.Enums" />
      <xsd:import schemaLocation="http://192.168.178.32:8080/FollowMe?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FollowMe.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteControl_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetPersonLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLocation" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetPersonLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetDangerLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDangerLocation" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetDangerLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDangerLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetPersonAndDangerLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonAndDangerLocation" />
  </wsdl:message>
  <wsdl:message name="IRemoteControl_GetPersonAndDangerLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonAndDangerLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemoteControl">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteControl/Start" message="tns:IRemoteControl_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteControl/StartResponse" message="tns:IRemoteControl_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteControl/Stop" message="tns:IRemoteControl_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteControl/StopResponse" message="tns:IRemoteControl_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteControl/GetPersonLocation" message="tns:IRemoteControl_GetPersonLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteControl/GetPersonLocationResponse" message="tns:IRemoteControl_GetPersonLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDangerLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteControl/GetDangerLocation" message="tns:IRemoteControl_GetDangerLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteControl/GetDangerLocationResponse" message="tns:IRemoteControl_GetDangerLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonAndDangerLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteControl/GetPersonAndDangerLocation" message="tns:IRemoteControl_GetPersonAndDangerLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteControl/GetPersonAndDangerLocationResponse" message="tns:IRemoteControl_GetPersonAndDangerLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemoteControl" type="tns:IRemoteControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IRemoteControl/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/IRemoteControl/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonLocation">
      <soap:operation soapAction="http://tempuri.org/IRemoteControl/GetPersonLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDangerLocation">
      <soap:operation soapAction="http://tempuri.org/IRemoteControl/GetDangerLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonAndDangerLocation">
      <soap:operation soapAction="http://tempuri.org/IRemoteControl/GetPersonAndDangerLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteControl">
    <wsdl:port name="BasicHttpBinding_IRemoteControl" binding="tns:BasicHttpBinding_IRemoteControl">
      <soap:address location="http://192.168.178.32:8080/FollowMe" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>